.button {
  background-color: var(--violet);
  color: var(--white);
  font-weight: bold;
  border-radius: 5px;
  padding: 8px;
  text-align: center;
  transition: background-color var(--transitionType);
  border: none;
  margin: 10px 0;
  cursor: pointer;
}

.button:hover {
  background-color: var(--lightViolet);
}

.button.full {
  width: 100%;
}