.photoGridItem {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-color: var(--lightGrey);
  width: 100%;
  height: 250px;
  transition: filter var(--transitionType);
}

.photoGridItem .info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 18px;
  color: var(--white);
}

.photoGridItem .info h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0;
}

.photoGridItem .info p {
  font-size: 1rem;
  margin: 8px 0 0;
}

@media only screen and (max-width: 768px) {
  .photoGridItem {
    height: 350px;
  }
}